<!--
  Generated template for the DecorationhistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="theme">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Decoration History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card color="theme">
		<ion-card-header>
			Room : 201
		</ion-card-header>
	</ion-card>

	<ion-list>
	  <ion-item *ngFor="let dec of decList">
		    <h2>Request ID : {{dec.id}}</h2>
		    <p>Name : {{dec.usName}}</p>
		    <div *ngIf="dec.status; else showFalse">Status : APPROVED</div>
				<ng-template #showFalse>Status : IN PROCESS</ng-template>
				<p>Request Date : {{dec.reqDate}}</p>
				<p>Period : {{dec.start}} to {{dec.end}}</p>
		    <p>Desc : <marquee>{{dec.desc}}</marquee></p>
				<br>
				<!--
		    <button ion-button color="correct">Edit</button>
				<button ion-button color="danger" (click)='showalertdelete()'>Delete</button>
				-->
		</ion-item>
	</ion-list>
	<hr>
</ion-content>
