<!--
  Generated template for the StuffmovinghistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="theme">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Stuff moving history </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-list>
	  <ion-item *ngFor="let mov of movList">
		    <h2>Request ID : {{mov.id}}</h2>
		    <p>Name : {{mov.usName}}</p>
		    <div *ngIf="mov.status; else showFalse">Status : APPROVED</div>
				<ng-template #showFalse>Status : IN PROCESS</ng-template>
		    <p>Request Date : {{mov.reqDate}}</p>
		    <p>Desc : <marquee>{{mov.remark}}</marquee></p>
		    <div *ngIf="mov.inOrOut; else showFalse">Type : Move In</div>
				<ng-template #showFalse>Type : Move Out</ng-template>
				<p>To Move Date	: {{mov.dateMove}}</p>
				<!--
				<button ion-button color="danger" (click)='showalertdelete()'>Delete</button>
				-->
		</ion-item>
	</ion-list>
	<hr>

</ion-content>
